[submodule "AM-Modulation-Techniques-in-MATLAB-DSB-LC-DSB-SC-SSB-"]
	path = AM-Modulation-Techniques-in-MATLAB-DSB-LC-DSB-SC-SSB-
	url = https://github.com/L-YS-Ayoussef/AM-Modulation-Techniques-in-MATLAB-DSB-LC-DSB-SC-SSB-.git
[submodule "Pulse-Modulation-Techniques-PAM-Flat-Top-PAM-PWM-PPM-Modulation-and-Demodulation-"]
	path = Pulse-Modulation-Techniques-PAM-Flat-Top-PAM-PWM-PPM-Modulation-and-Demodulation-
	url = https://github.com/L-YS-Ayoussef/Pulse-Modulation-Techniques-PAM-Flat-Top-PAM-PWM-PPM-Modulation-and-Demodulation-.git
[submodule "Digital-Filtering-of-an-Audio-Signal"]
	path = Digital-Filtering-of-an-Audio-Signal
	url = https://github.com/L-YS-Ayoussef/Digital-Filtering-of-an-Audio-Signal.git
[submodule "Spectrogram-Analysis-of-Epileptic-EEG-Using-STFT-and-Windowing"]
	path = Spectrogram-Analysis-of-Epileptic-EEG-Using-STFT-and-Windowing
	url = https://github.com/L-YS-Ayoussef/Spectrogram-Analysis-of-Epileptic-EEG-Using-STFT-and-Windowing.git
