[submodule "AM-Modulation-Techniques-in-MATLAB-DSB-LC-DSB-SC-SSB-"]
	path = AM-Modulation-Techniques-in-MATLAB-DSB-LC-DSB-SC-SSB-
	url = https://github.com/L-YS-Ayoussef/AM-Modulation-Techniques-in-MATLAB-DSB-LC-DSB-SC-SSB-.git
